{{#each bands as |band| }}
<div class="band-card card" style="text-align:center;">
    <container class="row d-flex justify-content-center cjl">
        <div class="col-md-3">
            <img src="..." class="card-img-top" alt="...">
        </div>
        <div class="card-body col-md-3">
            <header class="band-card-header">{{band.name}}</header>
            <ul>
                <li>{{band.genre}}</li>
                <li>{{band.website}}</li>
                <li>{{band.phone}}</li>
                <li>{{User.band.email}}</li>
            </ul>
        </div>
        <div class="col-md-3">{{band.bio}}</div>
    </container>
</div>
{{/each}}
