<div class="card mb-3 cardcol" style="max-width: 750px; margin-left: auto; margin-right: auto; margin-bottom: 1rem">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/assets/image.jpeg"  alt="...">
        </div>
        <div class="col-md-4 Mid">
            <header class="band-card-header">{{band.name}}</header>
            <ul>
                <li>{{band.genre}}</li>
                <li>{{band.website}}</li>
                <li>{{band.phone}}</li>
                <li>{{band.email}}</li>
            </ul>
            </div>
        <div class="col-md-4 Mid">{{band.bio}}</div>
        </div>
    
</div>