{{#each bands as |band| }}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/assets/image.jpeg"  alt="...">
        </div>
        <div class="col-md-8">
            <header class="band-card-header">{{band.name}}</header>
            <ul>
                <li>{{band.genre}}</li>
                <li>{{band.website}}</li>
                <li>{{band.phone}}</li>
                <li>{{User.band.email}}</li>
            </ul>
            </div>
        </div>
        <div class="col-md-3">{{band.bio}}</div>
    
</div>
{{/each}}
